*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}


.parent{
    height: 100vh;
    border: 20px solid rgb(0,0,0);
    display: flex; /*creating the flex layout*/
    
    /*justifying content: flex-start, center, flex-end */
    /*justify-content: center;*/

    /*adding space between children: space evenly, space-around*/
    /*justify-content: space-around;*/

    /* align-items: flex-start, center, flex-end */
    /*align-items: center;*/

    /*flex-direction: column, row*/
    flex-wrap: wrap;

    /*align-content: the way content flows when it hits next line*/
    /*flex-start, flex-end, center*/
    /*align-content: space-around;*/ 

    /*align-items: baseline; will align all of the text in the items */
    /*flex-flow: column wrap; */
}

.child-1{
    width: 200px;
    height: 200px;
    background: rgb(39,61,134);
    /*order: modifies order of position of child. Higher the number, closer to last element*/
    order: 1;
    flex: 1 1 250px;
}

.child-2{
    width: 200px;
    height: 200px;
    background: rgb(172,57,53);
    /*takes available space left and makes child element that size*/
    flex: 1 1 250px
}

.child-3{
    width: 200px;
    height: 200px;
    background: rgb(149,43,140);
    flex: 1 1 250px;
    align-self: center;
}

.child-4{
    width: 200px;
    height: 200px;
    background: rgba(77, 175, 124);
    flex: 1 1 250px;
}

/* messing around with media queries:
@media only screen and (max-width: 600px){
    .parent{
        flex-direction: column-reverse;
    }
}
 */