
/* CSS Reset 
*{
    margin : 0;
    padding: 0;
}
*/

h1{
    color: #444;
}

body{
    background-color: #f5f5f5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;

    /* short hand*/
    font: normal 16px Arial Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
} 

.box-1{
    background-color: #cd1272;
    /*apply it for all sides*/
    border: 5px blue solid;

    /*space between element and border*/
    padding: 20px;

    /*space outside the border */
    margin: 20px;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

p{
    /*short hand*/
    margin: 5px 10px;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

