*{
    padding: 0;
    margin: 0;
    
}

p{
    border: 2px solid gold;
    padding: 20px;
}

.flex-list{
    display: flex;
}

.block-list, li{
    border: 2px solid black;
    padding: 20px;
    list-style: none;
}

.block-list{
    display: block;
}